@import "tailwindcss";

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.brutal-shadow {
  box-shadow: 8px 8px 0 #000;
}
.brutal-shadow-sm {
  box-shadow: 4px 4px 0 #000;
}

.brutal-shadow--heavy {
  box-shadow: 16px 16px 0 #000;
}
